@import "_variables";
.boton{
    text-align: center;
    border: map-get($boton , borde );
    padding: map-get($boton, padding );
    border-radius: map-get($boton, radio );
    color: map-get($boton, color );
        &:hover{
            background-color: #198754;
            color: black
        }
}

.boton-ropa{
    @extend .boton;
    @include propiedadesPrincipales( black,300px ,auto );
}
.boton-cañas{
    @extend .boton;
    @include propiedadesPrincipales(orange,300px ,auto );
    color:black;
}
.boton-reel{
    @extend .boton;
    @include propiedadesPrincipales(rgb(22, 113, 189),300px ,auto );
}
