@media (max-width:767px){

    #menu {
        li{
             a{
                font-size: 15px;
            }    
        }
    }
    #main-img{
        flex-direction: column;
        align-items: center
    }
    #footer{
        flex-direction: column;
    }
 }
@media (max-width: 1023px){
    #main-text {
        h1{
            font-size: 40px;
        }
    }
}